{{ $ := .root }}
{{ $page := .page }}
{{ $pubs_len := len (where $.Site.RegularPages "Type" "work_experience") }}
<!-- work_experience widget -->
<div class="row">
  <div class="col-xs-12 col-md-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ if gt $pubs_len $page.Params.count }}
    <p class="view-all">
      <a href="{{ "/work_experience/" | relLangURL }}">
      More
      <i class="fa fa-angle-double-right"></i>
      </a>
    </p>
    {{ end }}
  </div>
  <div class="col-xs-12 col-md-8">
    {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}
    {{ $.Scratch.Set "work_experience" (where $.Site.RegularPages "Type" "work_experience") }}
    {{ $work_experience := $.Scratch.Get "work_experience" }}
    {{ range sort $work_experience ".Params.index" }}
    <div style="margin-bottom: 1rem">
      <p style="line-height: 1.25;margin-bottom: 0.25rem;">
        <b>{{ .Title }}</b><br/>
        <a href="{{ .Params.url_company}}" style="color: #333;">{{ .Params.Company }}</a>
      </p>

      <p style="margin-bottom: 0.25rem;">{{ .Params.short_description}}</p>
      <small>{{ .Content | markdownify }}</small>
      {{ range .Params.positions }}
      <div class="row">
        <div class="col-md-4">
          {{ dateFormat "01/2006" .from_year }}
          -
          {{ if eq "today" .to_year }}
          {{ .to_year }}
          {{else}}
          {{ dateFormat "01/2006" .to_year }}
          {{end}}
        </div>
        <div class="col-md-8">
          {{.position}}
        </div>
      </div>

      {{ end }}
      <p>
        {{ range .Params.skills }}
        <span class="badge badge-primary">
          {{ . }}
        </span>
        {{ end }}
      </p>

    </div>
    {{ end }}


  </div>
</div>
